@import "tailwindcss";
@keyframes bounce-in {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  60% {
    transform: translateX(-10%);
    opacity: 1;
  }
  80% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-bounce-in {
  animation: bounce-in 0.5s ease-out;
}